*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: right;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #df49d2, #9b59b6);
}
.container{
  max-width: 781px;
  width: 100%; 
  background: hsl(0, 0%, 90%); 
  padding: 25px 30px;
  border-radius: 5px;
  margin-left: 50px;
}
.container .title{
    height: 50%;
    width: 100%;
    outline: none;
    position: top;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: blue;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding-left: 15px;
    font-size: small;
    border-bottom-width: 2px;
    transition: 300ms;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: rgb(92, 240, 92);
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: green;
}
form  .button input:hover{
    background: green;
}
h3{
    color: white;
    font-size: big;
}
h5{
    color: white;
    margin: 10px 0;
    font-size: 8px;   
}
h1{
    color: black;
    margin: 10px 0;
    font-size: 7px; 
}
h2{
    color: red;
    margin: 10px;
    font-size: 7px;
}